

.firstDiv {
  background-color: lightblue; 
  background-position: 100% 100%; 
  margin: 0em; 
  padding: 0em; 
  height: 100vh;
}
.secondDiv{
  background-image: url(eth-diamond-black-gray.png); 
  height: 80%;   
  background-repeat: no-repeat; 
  background-attachment: fixed; 
  background-size: 100% 100%;
  margin-top: 5%;
}



.stake-stake-btn{
  background-color: lightgrey; 
  width: 50%;
  color: black;
  
}
.stake-withdraw-btn{
  background-color: white; 
  width: 50%; 
  color: black;
} 

.stakenow-btn{
  width: 100%; 
  background-color: lightgrey;
}

.withdrawnow-btn{
  width: 100%;
  background-color: lightgrey;
  margin-top: 1.6em;
}



.form-body{
  margin-top: 2em;
}

.form-prop{
  margin-top: 6em;
}

.card-props{
  width: 65%;
  height: auto;
  margin:  auto;
  padding: 20px;
  position: relative;
  margin-top: 7%;
}

